#root {
  width: 100%;
  margin: 0;
  padding: 2rem;
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: 1fr 12rem;
  grid-template-areas: 'catalogo carrito';
}

section {
  grid-area: catalogo;
}

aside {
  grid-area: carrito;
  background: #101010;
  margin: -2rem;
  padding: 2rem;
}

.btnRojo {
  background: #ff0000;
  opacity: 0.75;
  border: none;
  padding: 0.5rem 1rem;
}

.btnRojo:hover {
  opacity: 1;
}